.form-control-dropdown {
  margin-bottom: 20px;
}
.form-control-dropdown label {
  font-size: 14px;
  color: #344054;
}

.p-dropdown {
  width: 100%;
  height: 45px;
  margin-top: 5px;
  background: #f9fafb;
}

.form-control-dropdown input {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background: #f9fafb;
}
